!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    = csrf_meta_tag
    = csp_meta_tag
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  
  %body
    %header
      %nav.navbar.navbar-expand.navbar-dark.bg-dark
        .container
          = link_to "sample app", "#", class: "navbar-brand"
          .navbar-nav.collapse.navbar-collapse
            .nav-item
              = link_to "Home", static_pages_home_path, class: "active nav-link"
            .nav-item
              = link_to "Help", static_pages_help_path, class: "active nav-link"
            .nav-item
              = link_to "About", static_pages_about_path, class: "active nav-link"

    .container.mt-3.w-75
      - if alert
        .alert.alert-danger= alert
      - if notice
        .alert.alert-info= notice
      = yield
    - if Rails.env.development?
      .card.w-75.mx-auto.mt-3.bg-light
        .card-body
          = debug(params)